* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px dotted black;
    font-family: sans-serif;
    
}

:root {
    --colore-principale: #0061FE;
    --margine-vbase: 80px;
    --grigio: rgba(207, 207, 207, 0.924);
}

body{
    min-width: 1520px;
}
button {
    background-color: var(--colore-principale);
    border-color: var(--colore-principale);
    height: 2rem;
    width: 13rem;
    color: white;
}

h1 {
    font-size: 100px;
    text-align: left;
    width: 95rem;
    margin: var(--margine-vbase) auto;
    padding: 0px 4rem;
}

h2 {
    font-size: 45px;
    margin: 100px 1rem;
    text-align: left;
}

/*------------------------------nav top------------------------------*/
header {
    display: flex;
    justify-content: space-between;

}

.left-head,
.right-head {
    display: flex;
    align-items: center;
    padding: 1rem;

}

.right-head {
    min-width: 450px;
}

.left-head {
    min-width: 550px;
}

.right-head div a,
.left-head div a {
    margin: 1rem;
    text-decoration: none;
    color: black;
}

.left-head div img {
    display: block;
}

/*------------------------------main------------------------------*/
/*---------------- hero section------------------*/
.hero {
    background-color: #b4d0e7;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.jumbo {

    display: flex;
    justify-content: center;

}

.r-jumbo img {
    display: block;
    height: 33rem;
}

.l-jumbo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28rem;


}
.r-jumbo {
    height: 28rem;
}

.fa-solid.fa-arrow-down {
    font-size: 45px;
}

.l-jumbo p, .l-jumbo span {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

/*--------------------sezione 1-----------------------*/
#sezione-1 {
    margin: 120px auto;
    width: 1200px;
}

.selettore {
    display: flex;
}

.selettore span {
    margin-right: var(--margine-vbase);
}

/*-------------------------piani tariffari------------------------*/
.container-piani {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: var(--margine-vbase);
}

.tariffa {
    border: solid 1px var(--grigio);
    width: 370px;
    /*height: 800px;*/
    display: flex;
    flex-direction: column;
}

.tariffa ul li {
    list-style: none;
}

.tariffa div:nth-child(1) {
    border-bottom: 1px var(--grigio) solid;
}

.essenziali :nth-child(3) {
    color: var(--grigio);
}

.tariffa span,
.essenziali :nth-child(2) {
    font-weight: bolder;
}

.tariffa span,
.tariffa ul li,
.tariffa button~div {
    margin: 20px 0px;
    padding: 0 1rem;
}

.separè {
    width: 40px;
    border-bottom: 1px solid var(--grigio);
}

.tariffa div:first-child {
    text-align: center;
    padding: 8px;
}

.tariffa button {
    margin: 0 auto;
}

.tariffa ul {
    margin-bottom: 1rem;
}

.fa-solid.fa-check {
    color: var(--colore-principale);
}

.team {
    width: 1200px;
    height: 350px;
    margin: 0px 0px;
    text-align: center;
    border: 1px solid var(--grigio);
    margin-top: var(--margine-vbase);
}

.team span:nth-child(1) {
    line-height: 35px;
    border-bottom: 1px solid var(--grigio);
    width: 100%;
    display: inline-block;
}

.team-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.td-left {
    display: flex;
    flex-direction: column;
    margin: 40px 40px;
}

#end {
    margin: 100px 0px;
}

.td-left div,
.td-left h3 {
    margin-bottom: 20px;
    text-align: left;
}

.td-right {
    margin: 40px 40px;
}

/*-------------------------sezione 2------------------------*/
.sezione2 {
    width: 1200px;
    height: 600px;
    display: flex;
    margin: auto;
}

.s2-left {
    background-image: url(img/partner.png);
    width: 600px;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    margin: 0 1rem;
}

.s2-right {
    width: 300px;
    height: 300px;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: var(--margine-vbase);
}

.s2-right button {
    width: 8rem;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(87, 87, 87);
}
/*-------------------------sezione 3------------------------*/
.sezione3{
    width: 1200px;
    margin: var(--margine-vbase) auto;

}
.s3container{
    display: flex;
    flex-wrap: wrap;
}
.s3item {
    width: 370px;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;

}
.sezione3 img{
    width: 370px;
}
.s3item div , .s3item p{
    padding: 1rem ;
}
.s3item p{
    line-height: 1.4rem;
    font-size: 1.2rem;
}
/*-------------------------sezione 4------------------------*/

.sezione4{
    width: 100%;
    margin: var(--margine-vbase) 0;
}
.intros4{
    width: 1200px;
    margin: var(--margine-vbase) auto;
}
.container-brands{
    width: 100%;
    display: flex;
}
.left-brands, .right-brands{
    width: 33vw;
    height: 33vw;
    display: flex;
    flex-wrap: wrap;
}
.brand-banner{
    max-width: 34vw;
    height: 33vw;
    overflow: auto;
    font-size: x-large;
    background-color: aliceblue;
}
.brand-logo{
    width: 50%;
    height: 50%;
    background-size:55%;
    background-repeat: no-repeat;
    background-position: center;
}
.brand-logo.n1{
    background-image: url(img/designit.svg);
    background-color: rgb(130, 247, 119);
}
.brand-logo.n2{
    background-image: url(img/arizona_state_university.svg);
    background-color: rgb(110, 53, 53);

}
.brand-logo.n3{
    background-image: url(img/university_of_florida.svg);
    background-color: rgb(91, 203, 255);

}
.brand-logo.n4{
    background-image: url(img/topps.svg);
    background-color: rgb(255, 24, 24);

}
.brand-logo.n5 {
    background-image: url(img/world_bicycle_relief.svg);
    background-color: rgb(255, 80, 53);

}
.brand-logo.n6 {
    background-image: url(img/hearst_corp.svg); 
    background-color: rgb(197, 179, 252);

}
.brand-logo.n7 {
    background-image: url(img/lonely_planet.svg);
    background-color: rgb(32, 67, 182);

}
.brand-logo.n8 {
    background-image: url(img/clear_channel.svg);
    background-color: rgb(232, 227, 76);

}








/*---------------------------------hover button da tenere in fondo--------------------------------*/
button:hover{
    background-color: #b4d0e7 ;
    color: black;
}