* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px dotted black
}
:root{
    --colore-principale: ;
    --margine-vbase: 30px;
}
/*------------------------------nav top------------------------------*/
header {
    display: flex;
    justify-content: space-between;

}

.left-head,
.right-head {
    display: flex;
    align-items: center;
    padding: 1rem;

}

.right-head {
    min-width: 450px;
}

.left-head {
    min-width: 550px;
}

.right-head div a,
.left-head div a {
    margin: 1rem;
    text-decoration: none;
    color: black;
}

.left-head div img {
    display: block;
}

/*------------------------------main------------------------------*/
/*---------------- hero section------------------*/

.jumbo {
    min-width: 1200px;
    display: flex;
    justify-content: center;
    margin: var(--margine-vbase) auto;
}

.r-jumbo img {
    display: block;
    height: 35rem;
}

h1 {
    font-size: 100px;
    text-align: left;
    width: 95rem;
    margin: var(--margine-vbase) auto;
    padding: 0px 40px;
}

.l-jumbo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28rem;
}

.hero {
    background-color: aquamarine;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.r-jumbo {
    height: 28rem;
}
.fa-solid.fa-arrow-down{
    font-size: 45px;
}
.l-jumbo,.r-jumbo{
    padding-top: var(--margine-vbase);
}
/*--------------------sezione 1-----------------------*/
#sezione-1{
    margin: 120px 0;
}
.selettore{
    display: flex;
}
.selettore span{
    margin-right: var(--margine-vbase);
}