* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: 1px dotted black*/
    font-family: sans-serif;
}
:root{
    --colore-principale: #0061FE;
    --margine-vbase: 80px;
    --grigio: rgba(222, 219, 219, 0.924);
}
/*body{
    width: 100vw;
}*/
button{
    background-color: var(--colore-principale) ;
    border-color: var(--colore-principale);
    height: 2rem;
    width: 13rem;
    color: white;
}

h1 {
    font-size: 100px;
    text-align: left;
    width: 95rem;
    margin: var(--margine-vbase) auto;
    padding: 0px 40px;
}
h2{
    font-size: 45px;
    margin: 100px 0px;
    text-align: left;
}
/*------------------------------nav top------------------------------*/
header {
    display: flex;
    justify-content: space-between;

}

.left-head,
.right-head {
    display: flex;
    align-items: center;
    padding: 1rem;

}

.right-head {
    min-width: 450px;
}

.left-head {
    min-width: 550px;
}

.right-head div a,
.left-head div a {
    margin: 1rem;
    text-decoration: none;
    color: black;
}

.left-head div img {
    display: block;
}

/*------------------------------main------------------------------*/
/*---------------- hero section------------------*/

.jumbo {
    
    display: flex;
    justify-content: center;
    margin: var(--margine-vbase) auto;
}

.r-jumbo img {
    display: block;
    height: 35rem;
}

.l-jumbo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28rem;
}

.hero {
    background-color:#b4d0e7;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.r-jumbo {
    height: 28rem;
}
.fa-solid.fa-arrow-down{
    font-size: 45px;
}
.l-jumbo,.r-jumbo{
    padding-top: var(--margine-vbase);
}
/*--------------------sezione 1-----------------------*/
#sezione-1{
    margin: 120px auto;
    width: 1200px;
    }
.selettore{
    display: flex;
}
.selettore span{
    margin-right: var(--margine-vbase);
}

/*-------------------------piani tariffari------------------------*/
.container-piani{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tariffa{
    border: solid 1px var(--grigio);
    width: 350px;
    /*height: 800px;*/
    display: flex;
    flex-direction: column;
}

.tariffa ul li{
    list-style: none;
}
.tariffa div:nth-child(1){
    border-bottom:1px var(--grigio) solid;
}
.essenziali :nth-child(3){
    color: var(--grigio);
}
.tariffa span, .essenziali :nth-child(2){
    font-weight: bolder;
}
.tariffa span, .tariffa ul li, .tariffa button ~ div{
    margin: 20px 0px;
    padding: 0 1rem;
}

.separè{
    width: 40px;
    border-bottom: 1px solid var(--grigio);
}
.tariffa div:first-child{
    text-align: center;
    padding: 8px;
}

.tariffa ul{
    margin-bottom: 1rem;
}
.fa-solid.fa-check{
    color: var(--colore-principale);
}

.team{
    width: 1200px;
    height: 350px;
    margin: 0px 0px;
    text-align: center;
    border: 1px solid var(--grigio);
}
.team span:nth-child(1){
    line-height: 35px;
    border-bottom: 1px solid var(--grigio);
    width: 100%;
    display: inline-block;
}
.team-data{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.td-left{
    display: flex;
    flex-direction: column;
    margin: 40px 40px;
}

#end{
    margin: 100px 0px;
}
.td-left div, .td-left h3{
    margin-bottom: 20px;
    text-align: left;
}
.td-right{
    margin: 40px 40px;
}
